{% extends 'concerts/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/concerts.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        {% if products %}
        {% endif %}

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Party UP</h1>


            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                </div>
                {% if products %}
                    <div class="row">
                        {% for item in products %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{% url 'product' item.id %}">
                                        <img class="card-img-top"
                                             src="/media/{{ item.post_image }}"
                                             alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'product' item.id %}">{{ item.name }}</a>
                                        </h4>
                                        <h5>{{ item.price }} руб.</h5>
                                        <p class="card-text">{{ concert.short_description }}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="{% url 'concerts:basket_add' item.id %}">
                                            <button type="button" class="btn btn-outline-success">
                                                Отправить в корзину
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <h4>Products no found</h4>
                {% endif %}

                {% if not products.paginator.num_pages == 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">

                            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if products.has_previous %} {% url 'concerts:page' products.previous_page_number %} {% else %} # {% endif %}"
                                   tabindex="-1" aria-disabled="true">Предыдущая</a>
                            </li>
                            {% for page in products.paginator.page_range %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'concerts:page' page %}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if products.has_next %} {% url 'concerts:page' products.next_page_number %} {% else %} # {% endif %}">
                                    Следующая
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Store 2021</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}